<div class="container-xl">
    <h1 class="text-center mt-5">Welcome to Blog App</h1>
    <p class="d-block text-center my-3 text-muted">Feel free to add Articles in this blog, and comments in the Articles as you want</p>
</div>